* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {

    list-style: none;
}

body {

    background-color: black ;
    background-image: url("./assets/bg.svg");
    background-position-x: center;
    background-position-y: center;
}

body * {

    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: 52px auto;
}

header {

    margin-bottom: 63px;
    
}

#cards {

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 32px 23px;
    text-align: center;
    border-radius: 6px;
    border-bottom: 2px solid yellowgreen;
    background: rgb(12, 15, 13);
}

.card h2 {

    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid green;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    align-items: center;

    color: rgb(243, 243, 77);
}

.card h2 span {

    color: azure;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul {

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card ul li {

    display: flex;
    align-items: center;
    justify-content: space-between;
} 



.card ul li + li {

    padding-top: 24px;
    border-top: 1px solid rgb(54, 54, 54);
}

.card ul li strong {

    font-weight: 900;
    font-size: 36px;
    color: azure;
}